<div class="footer">
  This page was inspired by <a href="http://bettermotherfuckingwebsite.com">bettermotherfuckingwebsite.com</a> and <a href="http://txti.es">txti</a>
  and made by <a href="https://www.github.com/charlesharries">me.</a>
</div>
